body {
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px;
    background: #070707 url(../images/background.jpg) no-repeat;
}

.container {
    width: 940px;

    padding-left: 10px;
    padding-right: 10px;

    margin: 0 auto;
}

.container::after {
    content: '';

    display: table;
    clear: both;
}

.header {
    margin-bottom: 60px;
    main-height: 72px;
    background: black;
}

.main-menu {
    float: left;
    width: 800px;


}
.main-menu__list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-menu__item {
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
}
.main-menu__link {
    display: block;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 20px;

    padding: 25px 24px;
}
.main-menu__link:hover {
    background-color: #242424;
}
.user-login {
    float: right;
}

.user-login__link {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    padding: 25px 20px;
    padding-left: 55px;
}

.user-login__link::before {
    content: '';
    position: absolute;
    top: 18px;
    left: 23px;
    width: 18px;
    height: 26px;
    background: url(../images/pattern-icons.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    opacity: 0.3;
}
.user-login__link:hover::before {
    opacity: 1;
}
.user-login__link:hover {
    background-color: #242424;
}

.main-logo {
    padding-bottom: 40px;

    width: 368px;

    margin: 0 auto;

    margin-bottom: 33px;
}

.main-logo__image {
    width: 368px;
    height: 204px;
}

.feathers {
    margin: 0px;
    padding: 0px;
    color: white;
    list-style: none;
}
.feathers__title {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 44px;
    margin-bottom: 26px;
    position: relative;
}
.feathers__title::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 0px;
    margin-left: -10px;
    transform: rotate(45deg);
}
.feathers__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.feathers__item {
    width: 300px;
    float: left;
    margin-right: 20px;
    text-align: center;
}
.feathers__item:last-child {
    margin-right: 0px;
}
.main-content {
    padding: 50px 80px;
}

.main-content__left {
    width: 380px;

    float: left;
}

.main-content__right {
    float: right;
    width: 300px;
}

.footer-info {
    float: left;

    width: 380px;
    margin-right: 20px;
}

.footer-social {
    float: left;
    width: 140px;
}

.footer-develop {
    float: right;

    width: 140px;
}